/* FONTS */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.ttf') format('woff2'),
         url('../fonts/Roboto/Roboto-Light.ttf') format('woff'),
         url('../fonts/Roboto/Roboto-BlackItalic.ttf') format('ttf'),
         url('../fonts/Roboto/Roboto-Italic.ttf') format('ttf'),
         url('../fonts/Roboto/Roboto-LightItalic.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/* PARAM GENERAUX */
* {
    font-family: 'Roboto', 'sans-serif';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,li{
  text-decoration: none;
  text-transform: none;
  list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background: rgb(31,31,31);
}
a{
  color: #000000;
}
h1 {
    font-size: 5rem;
    color: black;

     

    

    animation: fade 1s ease-in-out;
   
    
}

.p {
    font-size: 2.5rem;
    color:black; 

    animation: fade 2s ease-in-out forwards;
    opacity: 0;
    animation-delay: 1s;
    pointer-events: none;
    
}


hr {
    color: white;
}
/* KEYFRAMES */

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* HEADER */

.bg-nav{
    background-color: rgb(31,31,31);
}
.bg-span{
background-color: rgb(202,80,67)
}

/* HOVER HEADER */

#buttonHeader {
  color: white;
  text-decoration: none;
  font-size: 25px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

#buttonHeader::before {
  margin-left: auto;
}

#buttonHeader::after, #buttonHeader::before {
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(202,80,67);
  display: block;
  transition: 0.5s;
}

#buttonHeader:hover::after, #buttonHeader:hover::before {
  width: 100%;
}


/* CV BUTTON */

.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: 'roboto',sans-serif;
 
  font-size: 17px;
  padding: 0.5rem;
  color: white;
  background: rgb(223, 143, 77);
  letter-spacing: 0.02em;
  border-radius: 20em;
}

@media (max-width: 992px) {
  .cssbuttons-io-button {
   display: inline-flex;
  }
}

.cssbuttons-io-button svg {
  margin-right: 5px;
}

.cssbuttons-io-button:hover {
  border-color: white;
  box-shadow: 0 0.5em 1.5em -0.5em rgb(202,80,67)
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em rgb(223, 143, 77);
}

/* IMAGE */
#sectionImg {
    position: relative;
    height: 650px;
    background: url("../img/abstract-blur-gradient-931360.jpeg") no-repeat;
    background-position: center;
    background-size: cover;
}
#imageFond{
  position: absolute;
  background: url("../img/undraw_progressive_app_m9ms-removebg-preview.png") no-repeat;
  background-position: center;

}
@media (max-width: 600px) {
  #imageFond {
    background-size: contain;

  }
}

#imageFond2{

  height: 200px;
  background: url("../img/undraw_Accept_tasks_re_09mv-removebg-preview.png") no-repeat;
  background-position: center;
  background-size: contain;

}
#imageFond3{

  height: 200px;
  background: url("../img/undraw_Business_analytics_re_tfh3-removebg-preview.png") no-repeat;
  background-position: center;
  background-size: contain;

}

#sectionImg2 {
  position: relative;
  height: 100%;
  background: url("../img/textures-treugolniki-geometriya-minimalizm-figuri-oranzhevii-chernii-70867.jpeg") no-repeat;
  background-position: center;
  background-size: cover;
}
.image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.0); /* Noir semi-transparent */
    z-index: 1;
}
/* Drapeau image */
.flagImage {
    width: 100px;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 10px;
}
/* MAIN */
/* A PROPOS */
/* SECTION */
@media (min-width: 992px) {
  .fixed-height-div {
    min-width: 600px;
  }
}
#aProposSize{
    font-size: xx-large;
}

/* BOX SHADOW */
.box-shadow{
    box-shadow: 10px 10px 10px black;
}

/* CARD */

.card {
  position: relative;
  border: none;
  background: url(../img/artistic-retro_wave-low_poly-minimalist-mountain-903071.jpeg);
  
  background-position: center;
  background-size: cover;
  width: 18rem;
}

@media (min-width: 992px) {
  .card {
    margin-right: 5rem;
  }
}
  
  /* .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
  } */
  
/*   
  .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(270deg);
  } */
  
  /* .box span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #0084ff;
    /* animation:  animate 3s linear infinite; 
    animation:  3s linear infinite;
  } 
  */
  
  
/* GESTION DU TEXTE AFFICHER */
/* nav */
button {
  font-size: 18px;
  color: black;
  font-family: "roboto",sans-serif;
  
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}



button:focus:after,
button:hover:after {
  width: 100%;
  left: 0%;
}

button:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(202,80,67);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
.fixed-height {
  max-height: 250px; 
  overflow-y: auto; /*ça permet de rajouter une barre de défilement verticale*/
}
.none {
    display: none;
}
.langues_style {
    justify-content: center;
    
}

/* MES COMPETENCES */
.max-width{
  max-width: 2000px;
}
.competencesCard-header {
  background: rgba(250, 250, 250, 0.9);
  border-radius: 20px 20px 0 0;
  text-align: center;
  padding: 10px 0;
}
.competencesCard {
  background: #fff;
  border-radius: 20px;
  margin: 0px auto;
  max-width: 300px;
  padding-bottom: 1px;
}
/* Progress bar */


.progress-bar {
  width: 80%;
  background-color: rgb(31,31,31);
  color: #fff; 
  position: relative;
  z-index: 1; 
}
.progress {
  background: transparent;
  border: solid var(--darkgrey-bg);
  height: 40px;
  font-size: 20px;
  transition: 0.6s;
  position: relative; 
  z-index: 2; 
}

.noOpacity {
  opacity: 0;
}

.progressContainer {
  position: relative;
  margin: 10px 6px;
}


.noOpacity:hover {

  display: flex;
  opacity: 1;
  

}
.progressLabel {
  line-height: 40px;
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 20px;
  z-index: 2; 
}

/* PROJETS */
.projetimg {
  background-color:  rgba(0, 0, 0, 0.0);
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 10px;
  max-width: 20rem;
  min-width: 230px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;

}
.projetimg * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.projetimg img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.projetimg figcaption {
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  -webkit-box-shadow: 0 0 10px #000000;
  box-shadow: 0 0 10px rgb(0, 196, 10);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.projetimg h3 {
  background-color: #000000;
  border: 2px solid rgb(63, 36, 75);
  color: #fff;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 5px 10px;
  text-transform: uppercase;
}

.projetimg a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.projetimg:hover img,
.projetimg.hover img {
  transform: scale(0.9);
}

.projetimg:hover figcaption,
.projetimg.hover figcaption {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 1;
}

/* FOOTER */

/* FORM CONTACT */
/* modification de form-control de bootstrap */

.input {
  background-color: #212121;
  color: #fff;
  
  /* text-align: center; */
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
}

.input:focus {
  color: rgb(239, 234, 250);
  background-color: #212121;
  outline-color:  rgb(223, 143, 77);
  box-shadow: -3px -3px 15px   rgb(223, 143, 77);
  transition: .1s;
  transition-property: box-shadow;
}
/* Button */
.button {
  --color: rgb(202,80,67);
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 .button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 .button:hover {
  color: black
 }
 
 .button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 .button:hover:before {
  top: -30px;
  left: -30px;
 }
 
 .button:active:before {
  background:  rgb(202,80,67);
  transition: background 0s;
 }
 